@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
button:focus {
  outline: none;
}

html, body {
  overflow-x: hidden
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */




/* Your own custom utilities */
